<%- include("partials/head.ejs") %>

<body class="m-5">
    <%- include("partials/header.ejs") %>
    <div>
    <h2 class="m-3">All Products</h2>
</div>
<div>
    <div class="wrapper">
    <% products.forEach(product=>{%>
        <div class="box">
            <a href="products/<%= product._id %> "><img width="100px" src=<%= product.img %>>
            <p><%= product.name %> </p></a>
            <p>PRICE: $<%= product.price.toFixed(2)%> </p>  
        </div>

   <% }) %> 
</div>

<section>
    <form action="/products/new">
        <button type="submit" class="btn btn-primary mb-3">Create New Product</button>
    </form>
 </section>
</div>
    
</body>

</html>

